.user-img {
    width: 45%;
    margin: auto;
}

.user-img img {
    border-radius: 50%;
    padding: 5px;

}

.user-description {
    margin-top: -15px;
}

.add-member-btn {
    padding: 10px 30px;
    color: #00d8ff;
    background-color: #282C34;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.member-btn {
    padding: 10px 30px;
    color: #00d8ff;
    background-color: #282C34;
    border: 2px solid #db9200;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}